.canvas-container {
  height: 30vh;

  width: 287px;
  position: absolute;
  right: 0px;
  top: 10px;

  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 45px 34px rgba(249, 255, 22, 0.44);
  box-shadow: 5px 5px 45px 34px rgba(249, 255, 22, 0.44);
}

.moon-container {
  height: 30vh;

  width: 290px;
  position: absolute;
  right: 0px;
  top: 10px;

  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 45px 34px rgba(255, 255, 255, 0.44);
  box-shadow: 5px 5px 45px 34px rgba(229, 229, 229, 0.44);
}

@media (max-width: 1300px) {
  .canvas-container {
    width: 275px;
  }
  .moon-container {
    width: 275px;
  }
}

@media (max-width: 992px) {
  .canvas-container {
    width: 20%;
    height: 20vh;
  }
  .moon-container {
    width: 20%;
    height: 20vh;
  }
}

@media (max-width: 820px) {
  .canvas-container {
    width: 180px;
    height: 20vh;
  }
  .moon-container {
    width: 180px;
    height: 20vh;
  }
}

@media (max-width: 768px) {
  .canvas-container {
    width: 150px;
    height: 16vh;
  }
  .moon-container {
    width: 150px;
    height: 16vh;
  }
}
@media (max-width: 576px) {
  .canvas-container {
    width: 120px;
    height: 13vh;
  }
  .moon-container {
    width: 120px;
    height: 13vh;
  }
}
